* {
  margin: 0;
  padding: 0;
  background-color: #f1f4fb;
  font-family: "Ubuntu", sans-serif;
}

/* body {
  background-color: #fdfae2;
  background-color: transparent;
} */

.nav-items {
  padding-left: 0px;
}

.tashin ::after {
  content: "";
  width: 0%;
  height: 2px;
  display: block;
  background: gray;
  margin: auto;
  transition: 0.5s;
}
.tashin:hover ::after {
  width: 100%;
}

.secondblock, .thirdBlock {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--bs-light-rgb), var(--bs-bg-opacity)) !important;
}

